html{
    height: 100%;
}
body{
    background-color:#2F3035;
    background-image: url(./images/pizza4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 1024px;
    margin-left:auto ;
    margin-right:auto ;
}
header{
    /*background-color: blue;*/
    height: 118px;
    /*width: 1024px;*/
    text-align: center; 
}
nav{
    background-color: rgba(0, 0, 0, 0.350);
    height: 30px;
    text-align: center;
    padding-top: 14px;   
}
main{
    text-align: center;
    padding-top:80px ;
    padding-left: 240px ;
    padding-right: 240px;
}
footer{
    background-color: rgba(0, 0, 0, 0.550);
    height: 50px;
    /*width: 1024px;*/
    margin-top: 50px;
    padding-top:30px ;
    padding-bottom: 30px;
    padding-left: 240px ;
    padding-right: 240px;
    text-align: center;
}
.footer_text{
    color: white;
    font-size: 14px;  
}
h1{
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;   
}
p.nav{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    /*text-decoration: none;*/
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
form{
    font-size: 18px;
    color: rgba(255, 248, 190, 0.945);
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgba(0, 0, 0, 0.550);
    border-radius: 5px;
    border-color: rgba(255, 248, 190, 0.945);
    text-align: left;
}



ul{
    text-align: justify;
    
}

div.datos_personales{
    text-align: center;
    
}
   input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
  input[type=submit] {
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    border:0px;
    border-radius: 3px;
    width:100px;
    width: 100%;
    background-color: #2524249f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset] {
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    border:0px;
    border-radius: 3px;
    width:100px; 
    width: 100%;
    background-color: #2524249f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #424242be;
  }
  input[type=reset]:hover {
    background-color: #424242be;
  }